@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navbar {
  display: flex;
  position: sticky;
  z-index: 99;
  height: 80px;
  padding: 10px 12px;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  .left-side {
    .header {
      font-size: 2rem;
     font-family: 'Roboto', sans-serif;
      color: #EADBC8;
      cursor: pointer;
    }
  }
  .right-side {
    display: flex;
    align-items: center;
    gap: 40px;
    h3{color:#2d4263}
    .user-img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
